* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #000;
    --color-light: #f5f5f5;
    --color-grey: #575656;
    --spacing-20: 20px;
    --spacing-30: 30px;
    --spacing-40: 40px;
    --spacing-50: 50px;
    --spacing-60: 60px;
    --spacing-120: 120px;
    --spacing-300: 300px;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: var(--color-light);
}

.hero {
    padding: var(--spacing-20);
}

.hero-content {
    min-height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-20);
    margin-inline: var(--spacing-120);
}

.hero-text {
    flex: 1;
    max-width: 50%;
}

.hero-text h1 {
    font-size: 90px;
    line-height: 1;
    margin-bottom: var(--spacing-20);
}

.hero-text h2 {
    font-size: 30px;
    color: var(--color-grey);
    margin-bottom: var(--spacing-20);
}

.hero-text p {
    font-size: 30px;
    color: var(--color-grey);
    margin-bottom: var(--spacing-20);
}


.botoes a {
    text-decoration: none;
    padding: var(--spacing-20) var(--spacing-30);
    margin-right: var(--spacing-20);
    display: inline-block;
    font-size: 23px;
    letter-spacing: 2px;
}

.btn-principal {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.btn-secundario {
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.imagem img {
    width: 100%;
}

.cards {
    height: 100dvh;
    padding: var(--spacing-30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-40);
}

.cards-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);
    text-align: center;
}

.cards-cabecalho h1 {
    font-size: 50px;
}

.cards-cabecalho h2 {
    font-size: 30px;
    color: var(--color-grey);
}

.cards-lista {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-60);
    gap: var(--spacing-30);
    width: 100%;
    text-align: center;
}

.card-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    border: 1px solid var(--color-grey);
}

.card-item img {
    width: 100%;
    height: var(--spacing-300);
    object-fit: cover;
    display: block;
}

.card-titulo {
    font-size: 30px;
}

.card-texto {
    font-size: 20px;
    color: var(--color-grey);
    padding-bottom: var(--spacing-30);
    padding-inline: var(--spacing-50);
}

.sobre {
    height: 100dvh;
    padding: var(--spacing-20);
}

.sobre-cabecalho {
    min-height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-20);
    margin-inline: var(--spacing-120);
}

.sobre-texto {
    flex: 1;
    max-width: 45%;
}

.sobre-texto p {
    font-size: 30px;
    color: var(--color-grey);
    margin-bottom: var(--spacing-20);
}

.sobre-texto h1 {
    font-size: 70px;
    margin: var(--spacing-20) 0;
}

.sobre-texto h2 {
    font-size: 30px;
    color: var(--color-grey);
    margin-bottom: var(--spacing-20);
}

.sobre-lista {
    font-size: 30px;
    color: var(--color-grey);
    margin-bottom: var(--spacing-20);
}


.sobre-lista li {
    list-style-image: url(https://img.icons8.com/color/25/lamborghini.png);
    margin-inline: var(--spacing-30);
}

.sobre-imagem img {
    width: 100%;
}

.rodape {
    height: 100px;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape p {
    color: var(--color-grey);
    font-size: 30px;
}